
    <div class="container">
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
            <div class="col-md-4 d-flex align-items-center"> 

                <% let date = new Date(); %>
                <% let year = date.getFullYear(); %>
                <span class="mb-3 mb-md-0 text-white">© <%= year %>, Thanasis Angelis</span>
            </div>
        </footer>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js" integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q" crossorigin="anonymous"></script>
<script>
    $(document).on('mouseenter', '.weather-card', function() {
            $(this).css('transform', 'scale(1.05)');
        }).on('mouseleave', '.weather-card', function() {
        $(this).css('transform', 'scale(1)');
    });
</script>
</body>
</html>